/* Orders.css */

  .orders-container {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    overflow: auto;
  }
  
  .orders-header {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .orders-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .orders-table th,
  .orders-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .orders-table th {
    background-color: #f2f2f2;
  }
  
  .orders-table tr:nth-child(even) {
    background-color: #f2f2f2;
  }
  
  .orders-table tr:hover {
    background-color: #ddd;
  }
  
  .status-button {
    margin: 0 5px;
    padding: 5px;
    cursor: pointer;
    background-color: #ffeda4;
  }
  
  .status {
    padding: 5px;
    border-radius: 4px;
    color: white; /* Text color */
  }
  
  .delivered {
    background-color: green; /* Green for Delivered */
  }
  
  .ready {
    background-color: orange; /* Orange for Ready */
  }
  
  .pending {
    background-color: red; /* Red for Pending */
  }
  